html, body{
	scroll-behavior: smooth
	height: 100%;
	margin: 0;
	padding: 0;
}
div{
	width: 100%;
	height: 100%;
}

/*
.tech{
	width: 64px;	

>
*/

div.tiles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "educ work
    			  code port";
}

div.tiles > .tile{
    margin: 0;
    display: inline-grid; 
    background-color: red;
    place-items: center;
    /*border-radius: 5em;*/
}


div.tile-section {
	display: grid;
	grid-template-columns: 1fr 2fr;
    	grid-template-rows: 1fr;
	grid-template-areas: "tile-label tile-content"
}

/*
.educ{
	background-color: red;
	grid-area: educ;

}

*/

.child {
    width: 256px;
}

.child:hover {
  transform: scale(1.1);
  /* background-color: yellow; */
}

section {
	font-size: 50px;
        background: transparent;
        color: black;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        border-radius: 1em;
        transform: translate(-50%, -50%)
}


blockquote {
	font-family: 'Roboto Mono', monospace;
	font-size: 128px;
}
